<!DOCTYPE html>
<html>
    <head>
        <title>Projekt</title>
    </head>
    <body style="background-color: rgb(192,192,192);" lang="PL">
        <span style="color: rgb(192,192,192);">HELLO :)</span>
        <div class="Section1">
            <div align="left">
                <table cellpadding="2" cellspacing="2" border="1" width="100%">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <div align="center">
                                    <img src="../static/test-photo.jpg" alt="" width="400" height="293">
                                    <br>
                                </div>
                            </td>
                            <td valign="top">
                                <div align="center">
                                    <b><big><big><br><br>Wydział Informatyki, Elektroniki i Telekomunikacji</big></big></b><br>
                                    <big><big></big></big>
                                    <span style="font-weight: bold; text-align: center; width: 100%";>FIZYKA ZAJĘCIA</span>
                                </div>
                                
                                <br>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div align="center"></div>
            </div>
            <table style="text-align: left; width: 100%; height: 106px;" border="1" cellpadding="2" cellspacing="2">
                <tbody>
                    <tr align="center">
                        <td width="50%">
                            <big><big><big><span style="font-weight: bold;">Elektronika</span></big></big></big><br>
                        </td>
                        <td style="text-align: center; width: 50%; vertical-align: middle;">
                            <big><big><big><span style="font-weight: bold;">Teleinformatyka</span></big></big></big><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td colspan="1" rowspan="1" style="vertical-align: top;" height="35">
                          <big><big><big><a>Ćwiczenia rachunkowe</a></big></big></big><br>
                        </td>
                        <td valign="top" rowspan="1" colspan="1" height="35">
                            <big><big><big><a>Ćwiczenia rachunkowe</a></big></big></big><br>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div align="center"></div>
            <table style="text-align: left; width: 100%; height: 106px;" border="1" cellpadding="2" cellspacing="2">
                <tbody>
                    <tr align="center">
                        <td valign="top" rowspan="1" colspan="2"><br></td>
                    </tr>
                    <tr align="center">
                        <td valign="middle" rowspan="1" colspan="1" width="50%">
                            <big><font size="+1"><big><big><b>Elektronika i Telekomunikacja</b></big></big></font></big><br>
                        </td>
                        <td valign="middle" rowspan="1" colspan="1">
                            <big><font size="+1"><big><big><b>Nowoczesne Technologie w Kryminalistyce</b></big></big></font></big><br>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="text-align: left; width: 100%; height: 106px;" border="1" cellpadding="2" cellspacing="2">
                <tbody>
                    <tr>
                        <td valign="top" height="35" align="center" rowspan="2" colspan="1" width="50%">
                            <big><a><big><big><br>Ćwiczenia rachunkowe</big></big></big></a></big>
                        </td>
                        <td valign="top" align="center" height="35">
                            <a><big><big><big>Wykład</big></big></big></a><br>
                        </td>
                    </tr>
                    <tr align="center">
                        <td valign="top" rowspan="1" colspan="1" height="35">
                            <big><big><big><a>Laboratorium</a></big></big></big><br>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br><br><br><br>
    </body>
</html>
